:root {
	--theme-color: #FF6600;
	--main-text: #1C1C1C;
  // user login and regist page 
	--input-background: #F5F8FA;
	--button-text-color:#FFFFFF;	
	--input-label: #657786;
  --input-border: #657786;
  --error-text: #FC5A5A;
	--hover-color: #F24405;
	--focus-color: #F2884B;
  --router-link: #0099FF;

}