* {
  box-sizing: border-box;
}

html, body {
  height:100%;
}

body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
  padding: 0%;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding: 0%;
  font-weight: unset;
  font-family: unset;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0px;
}

input:required,
input:invalid {
  box-shadow: none;
}

hr {
  border: none;
  margin: 0;
}

textarea {
  font-family: unset;
  font-weight: unset;
}